.aa {
    font-size: 14px;
    color: #000;
}

.ee {
    font-size: 14px;
    color: #428D8E;
}

.bb {
    font-size: 13px;
    color: #009999;
}

.cc {
}

.nr {
    font-size: 13px;
    color: #000;
    line-height: 25px;
}

.nrred {
    font-size: 13px;
    color: #F00;
    line-height: 25px;
}

.xnr {
    font-size: 12px;
}

.sm {
    font-size: 10px;
}


.bt1 {
    font-size: 16px;
    color: #428D8E;
    font-weight: normal;
    line-height: normal;
}

.cc {
    font-size: 12px;
    color: #009999;
}

.kbj1 {
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.bt2 {
    font-size: 16px;
    color: #000;
}

.lj {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #F00;
    text-decoration: underline;
}

.tp {
    font-size: 15px;
    color: #900;
}

.rr {
    font-family: "宋体";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #CC6600;
}

.link {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #CC6600;
}

.huhu {
    font-size: 13px;
    color: #cc6600;
}

.link1 {
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #CC6600;
}

.sp {
    font-size: 13px;
    color: #3377aa;
    line-height: 25px;
}
