a {
    color: #ec4e59;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #94070a;
}

#books a {
    color: #005a8c;
    text-decoration: none;
}

#books a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #005a8c;
}

content {
    font-size: 14px;
    font-family: "Microsoft yahei";
}

#search {
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #999999;
}

#search input {
    font-size: 14px;
    font-family: "Microsoft yahei";
}

#search select {
    font-size: 14px;
    font-family: "Microsoft yahei";
}

#button {
    width: 75px;
}

#browse {
    width: 230px;
    padding-top: 20px;
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #999999;
}

#browsebymonth select {
    font-size: 14px;
    font-family: "Microsoft yahei";
}

#browsebymonth input {
    font-size: 14px;
    font-family: "Microsoft yahei";
    width: 90px;
}

#browsebyplace select {
    font-size: 14px;
    font-family: "Microsoft yahei";
    width: 120px;
}

#browsebyplace input {
    font-size: 14px;
    font-family: "Microsoft yahei";
    width: 95px;
}

#zhongtu {
    float: left;
    width: 230px;
}

#zhongtu table {
    border: 0;
}

#books {
    float: left;
    width: 470px;
    padding-left: 5px;
    border-left: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    margin-top: -70px;
}

#books-order {
    line-height: 35px;
    padding-left: 5px;
}

#books ul {
    list-style: none;
    padding-left: 10px;
}

.book-image {
    float: left;
    padding-top: 5px;
    width: 140px;
    height: 200px;
    overflow: hidden;
}

.book-douban {
    float: left;
    margin-left: -80px;
    margin-top: 170px;
}

.book-label {
    width: 90px;
    width: 105 px\9  \0;
    *width: 105px;
    vertical-align: top;
    padding-left: 10px;
    line-height: 21px;
}

#books ul li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #999999;
}

.label-value {
    width: 380px;
    line-height: 21px;
}

.hidden-block {
    width: 440px;
    text-align: right;
}

.hidden-block table {
    background: #ecece0;
    text-align: left;
}

.hidden-block .book-label {
    font-weight: bold;
    color: #005a8c;
    font-size: 16px;
}

.hidden-block .label-value {
    font-weight: bold;
    color: #005a8c;
    font-size: 16px;
}

.book-summary {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Times New Roman';
    color: #99999;
}

.book-catalog {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Times New Roman';
    color: #99999;
}