<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bai.dao.LendMapper">
    <cache readOnly="true" eviction="FIFO" flushInterval="60000" size="512"/>
    <insert id="addLend" parameterType="Lend">
        insert into library.lend_list (book_id, reader_id, lend_date)
        values (#{bookId}, #{readerId}, #{lendDate});
    </insert>
    
    <update id="decBookNum" parameterType="long">
        update library.book_info
        set `number`=`number` - 1
        where booK_id = #{bookId};
    </update>
    
    <select id="queryMyLend" parameterType="long" resultType="Lend">
        select *
        from library.lend_list
        where reader_id = #{readerId};
    </select>
    
    <update id="backBook" parameterType="Lend">
        update library.lend_list
        set back_date=now()
        where book_id = #{bookId}
          and reader_id = #{readerId};
        update library.book_info
        set `number`=`number` + 1
        where book_id = #{bookId};
    </update>
    
    <update id="incBookNum" parameterType="long">
        update library.book_info
        set `number`=`number` + 1
        where book_id = #{bookId};
    </update>
    <select id="findReturnBook" resultType="Lend">
        SELECT *
        FROM library.lend_list
        WHERE back_date is NULL
          AND book_id = #{bookId}
          AND reader_id = #{readerId};
    </select>

</mapper>