<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bai.dao.NewsMapper">
    <cache readOnly="true" eviction="FIFO" flushInterval="60000" size="512"/>
    <resultMap id="newsDataVo" type="NewsDataVo">
        <result property="dateTime" column="date_category" jdbcType="VARCHAR"/>
        <collection property="data" javaType="java.util.List" ofType="news"
                    column="{date_category=date_category,type=news_type}" select="getNewsGroup"/>
    </resultMap>
    <select id="queryAllNews" resultType="News">
        select *
        from library.news
        ORDER BY create_time DESC;
    </select>
    
    <select id="queryById" resultType="News">
        select *
        from library.news
        where news_id = #{newsId};
    </select>
    <select id="findPageWithGroupByDate" resultMap="newsDataVo">
        select distinct DATE_FORMAT(create_time, "%Y-%m") as date_category, news_type
        from library.news
        where news.news_type = #{type}
        GROUP BY DATE_FORMAT(create_time, "%Y-%m"), news_type
        order by date_category desc
        limit #{pageId},#{pageSize};
    </select>
    <select id="getNewsGroup" resultType="news">
        select distinct *
        from library.news
        where DATE_FORMAT(create_time, "%Y-%m") = #{date_category}
          and library.news.news_type = #{type}
        order by library.news.create_time desc;
    </select>
    <select id="selectCnt" resultType="integer">
        SELECT COUNT(*)
        from (select count(*)
              from library.news
              where news_type = #{type}
              GROUP BY DATE_FORMAT(create_time, "%Y-%m")) as s;
    </select>
    
    
    <insert id="addNews" parameterType="News">
        insert into library.news (news_admin, news_title, news_content, create_time)
        values (#{newsAdmin}, #{newsTitle}, #{newsContent}, #{createTime});
    </insert>
    
    <update id="updateNews" parameterType="News">
        update library.news
        set news_title=#{newsTitle},
            news_content=#{newsContent}
        where news_id = #{newsId};
    </update>
    
    <delete id="delNews" parameterType="long">
        delete
        from library.news
        where news_id = #{newsId};
    </delete>
</mapper>