<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bai.dao.ReaderMapper">
    <cache readOnly="true" eviction="FIFO" flushInterval="60000" size="512"/>
    <select id="queryById" parameterType="Reader" resultType="Reader">
        select *
        from library.reader_card
        where reader_id = #{readerId}
          and password = #{password}
    </select>
    
    <select id="getReaderName" parameterType="long" resultType="string">
        select username
        from library.reader_card
        where reader_id = #{readerId};
    </select>
    <select id="findAll" resultType="com.bai.pojo.ReaderInfo">
        select *
        from library.reader_info
        order by reader_id asc
    </select>
    
    <insert id="addReader" parameterType="Reader">
        insert into reader_card (reader_id, username, password)
        values (#{readerId}, #{username}, #{password});
    </insert>
    <insert id="saveAll">
        insert into library.reader_info values
        <foreach collection="list" separator="," item="reader">
            (#{reader.readerId},#{reader.name},#{reader.sex},#{reader.birth},#{reader.address},#{reader.phone})
        </foreach>
    </insert>
    <insert id="saveAll_reader_card">
        insert into library.reader_card values
        <foreach collection="reader_cards" separator="," item="reader1">
            (#{reader1.readerId},#{reader1.username},#{reader1.password})
        </foreach>;
    </insert>
    
    <update id="updatePassword" parameterType="Reader">
        update library.reader_card
        set password=#{password}
        where reader_id = #{readerId};
    </update>

</mapper>